/* ~~~~~~~~~~~~GLOBAL ~~~~~~~~~~~~~~~~~*/

   /* broswer reset*/
    
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
 
html{
    
    font-family: 'Lustria', serif;

}

@font-face {
    font-family: great-vibes;
    src: url('fonts/GreatVibes-Regular.otf');
    font-style: normal;
  
    
}

body{
    width: 100%;
}
/* set the margin for any div with wrapper*/

.wrapper{
  width: 77.7%;
  margin: 0 auto;
    
}

.clearfix{
    
    content: "";
    clear:both;
    display: table;
}

/* ~~~~~~~~~~~~FIRST SECTION ~~~~~~~~~~~~~~~~~*/
.first-section {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25) inset;
    background: linear-gradient(238deg, #D2B1DA -0.62%, rgba(196, 196, 196, 0) 35.38%), url("images/main-backgroud-img.jpg") ;
    /*background-image: url("images/main-backgroud-img.jpg"); */
    
    
    background-position: top center; 
    background-repeat: no-repeat; 
    background-size: cover; /* img to fit inside div, cover to scale img to the whole div*/
    
    height: 617px;
    width: 100%;
}



/* ~~~~~~~~~~~~NAVIGATION ~~~~~~~~~~~~~~~~~*/

.nav-top{
    height: 50px;
}
nav {
    width: 100%;
    height: 98.43px;
/*    border: 2px solid black;*/
   
}

.myName {
    font-family: great-vibes;
    /*font-weight: 100;*/
    font-size: 70px;
    align-self: center;
    line-height:88px;
    color: #E5E5E5;
    text-shadow : 2px 2px 50px white;
    vertical-align: center;
}
.nav-div {
    float: right;
}

/* ~~~~~~~~~~~~FIRST SECTION MAIN PART ~~~~~~~~~~~~~~ */

.main-content-container{
    display: grid;
    width: 100%;
    height: 460px;
    grid-template-columns: 1fr 1fr;
/*    border: 1px solid blue;*/
}

.mcc-main-space{
    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 1em;
    
}

.mcc-ms-sec1{

  box-shadow: 10px -10px 0px 0px rgba(0,0,0, 0.7);
  align-self: end; 
  width:80px; 
  height: 97px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.mcc-ms-sec1 { transition: all .2s ease-in-out; }
.mcc-ms-sec1:hover { transform: scale(1.1); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.mcc-ms-sec2{
    align-self: top;
    display: grid;
    grid-template-rows: 3fr 1fr;
    justify-items: center;
    margin: auto;
    
}


.mcc-ms-sec2 p {
    align-self: middle;
    color: #4E4444;
    text-align: center;
    font-size: 14px;
    font-family: lustria;
    font-style: normal;
    margin-bottom: 10px;
/*
    margin: 15px;
    margin-top: 30px;
*/
    
}

.mcc-ms-sec3 {
    
    align-self: center;
}

.lines {
    height: 0px;
    width: 50px;
    border: 3px solid rgba(136, 156, 255, 0.66);
    align-self: start;
    align-content: center;
}

.logos-line {
   
    width: 160px;
    height: 25px;
    
}

.logo {
    height: 25px;
    width: 25px;
    margin-left: 3px;
    box-shadow: 0 4px 8px 0 #FFFFFF, 0 6px 20px 0 #FFFFFF;
}

.logo { transition: all .2s ease-in-out; }
.logo:hover { transform: scale(1.1); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

/* ~~~~~~~~~~~~ LAST SECTION ~~~~~~~~~~~~~~~~~*/


/* ~~~~~~~~~~~~SUB-SLIDE ..starting with its container~~~~~~~~~~~~~~~~~*/

.sub-slides-container {
    
    
    background: linear-gradient(145.04deg, #E3C8EA 1.26%, rgba(196, 196, 196, 0) 49.12%);
}

.sub-slide{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    grid-gap: 20px;
    
}


.sub-slide-1 {
    
    display: grid;
    grid-template-rows: 1fr 0.5fr 3fr 0.5fr 1fr;
    grid-template-columns: 22.67% 63.829% auto;
    
}

    .sub-slide-bg-1 {
    
    grid-row: 2/5;
    grid-column: 1/3;
    background-image: url(images/sub-slide-bg.png);
    background-size: cover;
}


    .sub-slide-card-1{
    
    grid-row: 3/4;
    grid-column: 2/4;
    background-image: url(images/blog.png);
    background-size: 100% 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    
}

.sub-slide-card-1 { transition: all .2s ease-in-out; }
.sub-slide-card-1:hover { transform: scale(1.1); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }


.sub-slide-card-1 a{
    display: block;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    height: 300px;
/*    border: 1px solid black;*/
}




.sub-slide-2 {
    
   display: grid;
   justify-content: middle;
    grid-template-rows: 1fr auto 1fr;
    
}

.extra {
    
    
}

.text1{
    
    display: grid;
    grid-template-rows: 3fr 1fr;
    justify-content: center;
    grid-gap: 1em;
    
    
    height: 130px;
    width: auto;
    
    
    
    margin-left: 12.766%;
    margin-right: 38.2%;
    
    
    color: #4E4444;
    text-align:center;
    font-size: 14px;
    font-family: lustria;
    font-style: normal;
}  
 
.text1 p{
    align-self: end;
}

.text1 div {
    align-self: center;
    margin: auto;
}

/* ~~~~~~~~~~~  SECEOND LAST SECTION ~~~~~~~~~ */
.text2{
    
    display: grid;
    grid-template-rows: 3fr 1fr;
    justify-content: center;
    grid-gap: 1em;
    
    
    height: 130px;
    width: auto;
     
    
    margin-right: 12.766%;
    margin-left: 38.2%;
    
    
    color: #4E4444;
    text-align:center;
    font-size: 14px;
    font-family: lustria;
    font-style: normal;
}  
 
.text2 p{
    align-self: end;
}

.text2 div {
    align-self: center;
    margin: auto;
}


.sub-slide-1-2 {
    
    display: grid;
    grid-template-rows: 1fr 0.5fr 3fr 0.5fr 1fr;
    grid-template-columns: auto 63.829% 22.67%;
    
    
}

.sub-slide-bg-1-2 {
    
    grid-row: 2/5;
    grid-column: 2/-1;
    background-image: url(images/sub-slide-bg.png);
    background-size: cover;
    
}


.sub-slide-card-1-2 {
    
    grid-row: 3/4;
    grid-column: 1/3;
    background-image: url(images/email.png);
    background-size: 100% 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    
}

.sub-slide-card-1-2 { transition: all .2s ease-in-out; }
.sub-slide-card-1-2:hover { transform: scale(1.1); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.sub-slide-card-1-2 a{
    display: block;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    height: 300px;
/*    border: 1px solid black;*/
}

.sub-slide-2-2 {
    display: grid;
   justify-content: middle;
    grid-template-rows: 1fr auto 1fr;
}

/* ~~~~~~~~~~~~FOOTER ~~~~~~~~~~~~~~~~~*/

.footer {
    text-align: center;
    margin: 50px 0;
    
}
/* ~~~~~~~~~~~~RESPONSIVE ~~~~~~~~~~~~~~~~~*/

@media only screen and (max-width: 991px) {
    
    .first-section {
    
    height: 550px;
    
    }
    
    .main-content-container{
        grid-template-columns: 1fr;

    } 
    .mcc-main-space{
        grid-template-rows: 0% 1fr 1fr;
        height: 300px;
        margin-top: -100px
        
    }
    .mcc-ms-sec1 {
        visibility: hidden;
        height: 0;
        
    }
    .mcc-ms-sec2 {
        
        margin: auto;
        background-color: white;
        opacity: 0.9;
    }
    .mcc-ms-sec2 p{
        margin: 15px;
        margin-top: 30px;
    }
    .mcc-ms-sec2 p{
        font-size: 12px
    }
    .logos-line{
        margin: auto;
    }
    .myName{
        font-size: 50px;
        color: #E5E5E5;
    }
    
    /* SUBSLIDESSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
    
    .sub-slide {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr;
    height: auto;
    
}
    /* sub-slide-section-1-upper*/
  
    .sub-slide-1 {
    
    display: grid;
    grid-template-rows: 1fr 0.5fr 3fr 0.5fr 1fr;
    grid-template-columns: auto 77.7% auto;
    
    height: 630px;
    grid-row: 2;
    
}
    .sub-slide-bg-1 {
    
    grid-row: 2/5;
    grid-column: 1/4;
    background-image: url(images/sub-slide-bg.png);
    background-size: cover;
    
}
    .sub-slide-card-1 {
    
    grid-row: 3/4;
    grid-column: 2/3;
    background-image: url(images/blog.png);
    background-size: 100% 100%;
    
}
    .sub-slide-card-1 a {
        height: 300px;
    }
    /* sub-slide-section-1-lower*/
    
    .text1{
    
    display: grid;
    grid-template-rows: 3fr 1fr;
    justify-content: center;
    grid-gap: 1em;

    margin: 10%;
    margin-top: 100px;
    
    color: #4E4444;
    text-align:center;
    font-size: 14px;
    font-family: lustria;
    font-style: normal;
}  
 
.text1 p{
    align-self: end;
}

.text1 div {
    align-self: center;
    margin: auto;
}
    
  /* sub-slide-section-2-upper*/  
    .sub-slide-1-2 {
    
    display: grid;
    grid-template-rows: 1fr 0.5fr 3fr 0.5fr 1fr;
    grid-template-columns: auto 77.7% auto;
    height: 630px;
    
    
}
    .sub-slide-bg-1-2 {
    
    grid-row: 2/5;
    grid-column: 1/4;
    background-image: url(images/sub-slide-bg.png);
    background-size: cover;
}
    .sub-slide-card-1-2 {
    
     grid-row: 3/4;
    grid-column: 2/3;
    background-image: url(images/email.png);
    background-size: 100% 100%;
    
}
     .sub-slide-card-1-2 a {
        height: 300px;
    }
    
    /* sub-slide-section-2-lower*/  
   .text2 {
    
    display: grid;
    grid-template-rows: 3fr 1fr;
    justify-content: center;
    grid-gap: 1em;

    margin:10%;
    
    color: #4E4444;
    text-align:center;
    font-size: 14px;
    font-family: lustria;
    font-style: normal;
}  
 
.text2 p{
    align-self: end;
}

.text2 div {
    align-self: center;
    margin: auto;
}
    
    
}

@media only screen and (max-width: 600px){
    
    .sub-slide-1{
        height: 300px;
    }
    
     .sub-slide-card-1 {
        background-size: 100% 100%;
    }
     .sub-slide-card-1 a {
        height: 145px;
    }
    .sub-slide-1-2{
        height: 300px;
    }
    
     .sub-slide-card-1-2 {
        background-size: 100% 100%;
    }
     .sub-slide-card-1-2 a {
        height: 145px;
    }
    .myName {
        color: white;
        text-shadow : 2px 2px 120px purple;
        font-weight: 500;
    }
}